body{
    overflow: hidden;
    min-height: 100vh;
    cursor: crosshair;
}

.bubble{
    position: absolute;
  
    border-radius: 300px;
    background: orange;
    opacity: 0;
    animation: anim 8s forwards;
    filter : hue-rotate(0deg);
    
}
/* on doit cree une variable pour inject un X dynamique sur la keyframe comme pour ::after*/
@keyframes anim {to{
    top:-250px;
    opacity:1;
    filter :hue-rotate(360deg);
    left : var(--left);
}
    
}

h3{
    font-size: 4rem;
    text-align: center;
    margin-top: 20px;
    color: rgb(231, 123, 136);

}